# Environment configuration for main.py
MOCK_DB=False
USE_LMSTUDIO=False
EMBED_MODEL_NAME=BAAI/bge-small-en-v1.5
LMSTUDIO_BASE_URL=http://localhost:1234/v1
LMSTUDIO_MODEL=qwen2.5-coder-3b-instruct

# If not using LMStudio
GPT_API_BASE_URL=https://nano-gpt.com/api/v1
GPT_API_KEY=YOURAPIKEYHERE
GPT_MODEL=chatgpt-4o-latest

TEMPERATURE=0.0
CONNECTION_STRING=mysql+mysqlconnector://root:db@localhost:3306/employees
TABLES=employees,departments,dept_emp,dept_manager,salaries,titles
